---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout path={frontmatter.path} pageTitle="Samuel Torres">
	<div class="project-container">
		<div class="project-header">
	<h1>{frontmatter.title}</h1>
	<p class="date">{frontmatter.time}</p>
	</div>
	<div>
		<slot />
	</div>
	</div>
	
</BaseLayout>