---
import '../styles/index.css';

import resumePdf from '../content/Sam_Torres_Resume_2025.pdf';
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
// Sample project data - you'd typically get this from a content collection
const projects = [
  {
    title: "Spinnaker",
    image: "/spinnaker.jpg", 
    description: "Product improvements for Netflix's CI/CD system",
    link: "https://spinnaker.io/"
  },
  {
    title: "KANM Student Radio",
    image: "/kanm.jpg",
    description: "Website and DJ software for KANM Student Radio",
    link: "https://kanm.org/"
  },
  {
    title: "Mechanix",
    image: "/mechanix.jpg",
    description: "Application to teach physics content via sketch recongnition",
    link: "https://people.engr.tamu.edu/hammond/hammond/mechanix.php.html"
  },
  {
    title: "Isabella",
    image: "/project-isabella.jpg",
    description: "My personal media homelab",
    link: "/projects/isabella"
  },
  {
    title: "POB Phoenix",
    image: "/project-phoenix.jpg",
    description: "Personnel cataloging tool for offshore operations.",
    link: "/projects/phoenix"
  }
];
---

<BaseLayout path="/" pageTitle="Samuel Torres">
			<section class="bio">

				<p>
				 👋 I am an engineer and amateur chef. I make things that <span class="text-emphasis">serve people</span>. 
				</p>
				 
				<h1>experience</h1>
				
				<p>
					<li>Continuous delivery at <span class="text-emphasis">Netflix</span></li> 
					<li>DJ software for <span class="text-emphasis">KANM Radio</span></li> 
					<li>Learning tools at <span class="text-emphasis">TAMU Sketch Recognition Lab</span></li> 
					<li>Software for safety at <span class="text-emphasis">Arena Energy</span></li> 
					<li>Maintaining a homelab at my <span class="text-emphasis">Parent's House</span>  </li>
				</p>
				
				<h1>interest</h1>
				<p>
				I am interested in homelabs, fermentation, grilling, UX design, distributed systems, amateur radio, hifi sound systems, and leaving places better than I found them.
				</p>
				<h1>connect</h1>
				<div class="social-links">
					<a href="https://www.linkedin.com/in/samuel-torres-code/">linkedin</a>
					<a href="https://github.com/samuel-torres-code">github</a>
					<a href="mailto:torres.sam2002@gmail.com">email</a>
          <a href="/blog">blog</a>
				</div>
				<p>
					For people who still use resumes, mine can be downloaded <a href={resumePdf} download="Samuel_Torres_Resume_2025.pdf">here</a>.
				</p>
				
			</section>
			
				<ProjectsGrid />
			</section>
		</BaseLayout>
