---
import '../styles/index.css';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Samuel Torres</title>
	</head>
	<body>
		<Header />
		<div class="container">
			<Nav />
			
		</div>

	</body>
</html>
