---
import '../styles/index.css';
import BaseLayout from '../layouts/BaseLayout.astro';
// Sample project data - you'd typically get this from a content collection
const projects = [
  {
    title: "Spinnaker",
    image: "/spinnaker.jpg", 
    description: "Product improvements for Netflix's CI/CD system",
    link: "https://spinnaker.io/"
  },
  {
    title: "KANM Student Radio",
    image: "/kanm.jpg",
    description: "Website and DJ software for KANM Student Radio",
    link: "https://kanm.org/"
  },
  {
    title: "Mechanix",
    image: "/mechanix.jpg",
    description: "Application to teach physics content via sketch recongnition",
    link: "https://people.engr.tamu.edu/hammond/hammond/mechanix.php.html"
  },
  {
    title: "Isabella",
    image: "/project-isabella.jpg",
    description: "My personal media homelab",
    link: "/projects/isabella"
  },
  {
    title: "POB Phoenix",
    image: "/project-phoenix.jpg",
    description: "Personnel cataloging tool for offshore operations.",
    link: "/projects/phoenix"
  }
];
---

<BaseLayout path="/projects" pageTitle="Samuel Torres">
        <div class="content-area">
            <p>A collection of things I've built that serve people.</p>
            
            <div class="projects-grid">
              {projects.map(project => (
                <a href={project.link} class="project-card">
                  <div class="project-info">
                    <h3 class="project-title">{project.title}</h3>
                    <p class="project-description">{project.description}</p>
                  </div>
                </a>
              ))}
            </div>
            </div>
        </BaseLayout>
