

body {
    font-family: 'Roboto Mono', 'Helvetica Neue', monospace;
    background: #f4f2f2;
    color: #030303;
    margin: 0px;
}

::selection {
    background: #FF1C5E;
    color: white;
}


.container {
    display: flex;
    width: 95%;
    height: 100vh;
    justify-content: space-between;
    margin: 0px auto;
}



.info {
    width: 30%;
    /*outline: 2px solid black;*/
}

a {
    padding-bottom: 1px;
    text-decoration: none;
    border-bottom: 1px solid #c3c3c3;
    color: #030303
}
a:hover {
    color: #707070;
    border-bottom: 1px solid #c3c3c3;

}
.projectGrid {
    padding-left: 1vw;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  height: 100%;
}

.card {
    width: 30%;
    display: inline-block;
    margin-top: 0rem;
    border-radius: 8px;
    /*outline: 2px solid black;*/
}

.card:nth-of-type(4n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
  }
  .card:nth-of-type(4n+2) {
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
  }
  .card:nth-of-type(4n+4) {
    transform: scale(0.8, 0.8) rotate(3deg);
    transition: all 0.35s;
  }
  .card:nth-of-type(4n+3) {
    transform: scale(0.8, 0.8) rotate(-3deg);
    transition: all 0.35s;
  }
  .card:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
  }
  .card:hover {
    cursor: pointer;
    color: #030303;
  }
  

.polaroid {
    background: #f6f6f6;
    padding: 0.93rem;
    padding-top: 1.75rem;
    box-shadow: 0 1rem 1.2rem rgba(0,0,0,0.15);
    border-radius: 8px;
  }
  .polaroid > img {
    max-width: 100%;
    height: auto;
  }
  .caption {
    font-family: 'Roboto Mono', 'Helvetica Neue', monospace;
    text-transform: uppercase;
    user-select: none;
    font-weight: bold;
    font-size: 175%;
    text-align: center;
    line-height: 1em;
    padding: 0.5em 0vh;
  }
  .item {
    width: 30%;
    display: inline-block;
    margin-top: 0rem;
    border-radius: 8px;
  }

/* stores regular links for projects instead of pictures*/
.mobile {
    display: none;
}

/* mobile portrait */
@media screen and (max-width: 768px) {
    .info {
      width: 100%;
    }
    .mobile {
      display: block;
    }
    .projectGrid {
      display: none;
    }
    .site-container {
      width: 85%;
    }
    .contact {
      display: flex;
      flex-direction: column;
      width: auto;
      align-items: start;
      padding-bottom: 3vh;
    }
  }

/* 4:3 displays */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .site-container {
        height: auto;
    }
    .about {
        width: 40%;
    }
    .item {
        width: 85%;
    }
    .wrapper {
        width: 60%;
    }
}