---
// Header.astro
import "../styles/index.css";

import Tree from "./Tree.astro";
---

<header>
  <div class="header-left">
    <a class="header-text" href="/"
      ><span><h1>samuel torres</h1><Tree /></span></a
    >
  </div>
</header>
