---
// Header.astro
import '../styles/index.css';
interface Props {
  currentPath?: string;
}

import Tree from './Tree.astro';

const { currentPath } = Astro.props;
---

<header>
      <a href="/"><span><h1>samuel torres</h1><Tree /></span></a>
    
    <span class="subtitle">{currentPath}</span>
</header>
  