---
import '../styles/index.css';
import { projects } from './data/projects.js';

---
<section class="projects">
        <div class="content-area">
        <p class="project-header-text">A collection of things I've built.</p>
            
            
            <div class="projects-grid">
              {projects.map(project => (
                <a href={project.link} class="project-card">
                    <div>
                    <h2 class="project-title">{project.title}</h2>
                    <p class="project-description">{project.description}</p>
                    </div>
                    {project.video && 
                      <video autoplay loop muted playsinline>
                      <source src={project.video} type="video/mp4" />
                    </video>
                    }
                    
                </a>
              ))}
            </div>
            </div>
</section>
