---
import '../styles/index.css';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts');
const posts = allPosts.sort((a, b) => 
	b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<BaseLayout path="/blog">
	<section>
		<h1>Blog Posts</h1>
		<ul>
			{posts.map((post) => (
				<li>
					<a href={`/posts/${post.id}`}>
						<h2>{post.data.title}</h2>
					</a>
					<p>{post.data.description}</p>
					<time datetime={post.data.pubDate.toISOString()}>
						{post.data.pubDate.toLocaleDateString('en-US', {
							year: 'numeric',
							month: 'long',
							day: 'numeric'
						})}
					</time>
				</li>
			))}
		</ul>
	</section>
</BaseLayout>