:root {
    --text-000: #2d2d2d;    
    --accent-color: #536907;    
    --bkgd-color: #FFFCF0;     
    --light-gray: #f5f5f5;
    --border-gray: #ddd;

    --side-margin: 12rem;
    background-color: var(--bkgd-color);
    font-family: 'Panama', 'Times New Roman', 'sans-serif';
    color:var(--text-000);
    
    
    
}

@font-face {
    font-family: dot_matrix;
    src: url(../content/BPdots.otf);
}

.container {
    display: flex;
    justify-content: flex-start;

}

nav {
    grid-column: 1;

}

section {
    grid-column: 2;
    line-height: 1.7;          
    font-size: 1.1rem;         
    color: var(--primary-text);
}

.tree {
font-size: 2px;
font-weight: bold;
margin-top: 1rem;
}

.dot-matrix {
    font-family: 'dot_matrix';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
}


header > span {
    display: flex;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    /* float: left; */
    
}

section {
    line-height: 1.6;
    max-width: 65ch; /* Optimal reading width */
}

nav > a {
    font-size: 1.5rem;
    font-weight: 300;
    color:var(--text-000);
    text-decoration: underline;
    text-decoration-color: transparent;
    
}


nav > a:hover {
    text-decoration-color: var(--text-000);
}

.active {
    font-weight: bold;
    text-decoration-thickness: 1px;
}

.subtitle {
    font-size: 0.9rem;
    color: var(--accent-color);
    font-family: 'dot_matrix', monospace;
  }
