:root {
    --text-000: #2d2d2d;    
    --accent-color: #cfd4bd;    
    --bkgd-color: #FFFCF0;     
    --light-gray: #f5f5f5;
    --border-gray: #ddd;

    --side-margin: 1rem;
    background-color: var(--bkgd-color);
    font-family: 'Panama', 'Times New Roman', 'sans-serif';
    color:var(--text-000);

    
    
    
}



@font-face {
    font-family: dot_matrix;
    src: url(../content/BPdots.otf);
}

.container {
    display: flex;
    gap: 2rem;

}

nav {
    grid-column: 1;

}


section {
    grid-column: 2;
    line-height: 1.2;          
    font-size: 1.1rem;         
    color: var(--primary-text);
}

.tree {
font-size: 2px;
font-weight: bold;
margin-top: 1rem;
}

.dot-matrix {
    font-family: 'dot_matrix';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0
}


header > a > span {
    display: flex;
}

header > a:hover {
    text-decoration: none;
}

::selection {
    background: var(--accent-color);
    color: black;
    text-shadow: none;
}

::-moz-selection {
    background: var(--accent-color);
    color: black;
    text-shadow: none;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: column;
    transition: all 0.8s ease-in-out;
    /* float: left; */
    
}

section {
    line-height: 1.6;
}

.bio {
  flex: 0 0 25rem;
  margin: 0
}
.bio > h1 {
  margin: .5rem 0
}
.bio > p {
  margin: .1rem 0
}

.projects > h1 {
  margin: .5rem 0
}
.projects > p {
  margin: .1rem 0
}
.text-emphasis {
  font-style: italic
}

.social-links {
  display: flex;
  gap: 1rem;
  

}

li {
  list-style-type: square;
  margin: 0 1.5rem;
}


body {
  padding: 0 1rem; /* Add some padding for mobile */
}

a {
    font-size: 1.1rem;
    font-weight: 300;
    color:var(--text-000);
    text-decoration: underline;
    text-decoration-color: transparent;
    
}

a:hover {
    text-decoration-color: var(--text-000);
}

.active {
    font-weight: bold;
    text-decoration-thickness: 1px;
}

.subtitle {
    font-size: 0.9rem;
    color: var(--accent-color);
    font-family: 'dot_matrix', monospace;
  }

  /* Style the content area */
.content-area {
    width:100%;
    min-width: 0; 
    min-height: 0;
  }
  .projects {
    flex: 1;
    overflow-y: scroll;
  }
.project-header-text {
  padding-bottom: 2rem;
}
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
    flex: 1;
  }
  
  .project-card {
    background: none; /* Remove background */
    border-radius: 0; /* Remove rounded corners */
    padding: .5rem;
    width: 10rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* justify-content: center; */
    transition: transform 0.3s ease;
    outline: var(--text-000) solid 1px;
  }

  .project-title {
    margin-top: 0rem;
    font-style: italic;

  }
  
  .project-card:hover {
    transform: translateX(8px); /* Subtle slide instead of lift */
  }

  .project-image-container {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
  }

  .project-image {
    
    height: auto;
    width: 100%;
    max-width: 100%;
    object-fit: contain;

    


  }
  
  .project-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-000);
    line-height: 1;
        margin-bottom: .5rem;
  }
  
  .project-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.4;
    margin: 0;
    margin-bottom: .5rem;
  }