:root {
    --green-100: #e6f8d1;
    --green-200: #BBCF3A;
    --green-300: #d6ebc3;
    --green-400: #cae9be;
    --green-500: #c1e2be;
    --text-000: #3d3929;
    --bkgd-color: #ffffff;
    background-color: var(--bkgd-color);
    font-family: 'Courier New', monospace;
    color:var(--text-000);
    
    
}

@font-face {
    font-family: dot_matrix;
    src: url(../content/BPdots.otf);
  }
  .tree {
    font-size: 6px
  }
body {
    margin: .5rem;
}

.dot-matrix {
    font-family: 'dot_matrix';
}

h1 {
    font-size: 50px;
}

.home-page {
    min-height: 7rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-between;
    /* text-align: center; */
}

.intro-card {
    display: flex;
    
    flex-direction: row;
    /* justify-content: space-between; */
}

.me_svg-container {
    padding-left: 2rem;
}
.snail-animation {
        font-family: monospace;
        white-space: pre;
        font-size:6px;
        text-align: center;
        justify-self: start;
        margin:0;
    
}



.project-container {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding: 2rem;
    max-height: 10rem;
    overflow-y: scroll;
}

.project {
    width: 6rem;
    height: 6rem;
    background-color: black;
}



.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 40rem;
}

.green-bkgd {
    background-color: var(--green-500);
    border-top: 1px  var(--text-000) solid;
    border-bottom: 1px  var(--text-000) solid;
    
}



