---
import "../styles/index.css";
const { pageTitle, path } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Samuel Torres</title>
  </head>
  <body>
    <div class="container">
      <slot />
    </div>
  </body>
</html>
